[submodule "monticore"]
	path = monticore
	url = https://github.com/MontiCore/monticore.git
[submodule "se-commons"]
	path = se-commons
	url = https://github.com/MontiCore/se-commons.git
[submodule "statecharts"]
	path = statecharts
	url = https://github.com/MontiCore/statecharts.git
[submodule "feature-diagram"]
	path = feature-diagram
	url = https://github.com/MontiCore/feature-diagram.git
[submodule "cd4analysis"]
	path = cd4analysis
	url = https://github.com/MontiCore/cd4analysis.git
[submodule "json"]
	path = json
	url = https://github.com/MontiCore/json.git
[submodule "xml"]
	path = xml
	url = https://github.com/MontiCore/xml.git
[submodule "sequence-diagram"]
	path = sequence-diagram
	url = https://github.com/MontiCore/sequence-diagram.git
[submodule "siunits"]
	path = siunits
	url = https://github.com/MontiCore/siunits.git
[submodule "ocl"]
	path = ocl
	url = https://github.com/MontiCore/ocl.git
[submodule "automaton"]
	path = automaton
	url = https://github.com/MontiCore/automaton.git
[submodule "object-diagram"]
	path = object-diagram
	url = https://github.com/MontiCore/object-diagram.git
